[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-cov = "*"
exceptiongroup = "*"
httpx = "*"  
pydantic = "*"  
streamlit = "*"
yfinance = "*"
matplotlib = "*"
phidata = "*"
openai = "*"
plotly = "*"
seaborn = "*"
numpy = "*"
uvicorn = "*"
fastapi = "*"
requests = "*"
pandas = "*"
pytest = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
