[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
streamlit = "*"
yfinance = "*"
matplotlib = "*"
phidata = "*"
openai = "*"
plotly = "*"
seaborn = "*"
numpy = "*"
uvicorn = "*"
fastapi = "*"
requests = "*"
kaleido = "*"
newspaper3k = "*"
lxml_html_clean = "*"
googlesearch-python = "*"
pycountry = "*"
