[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
streamlit = "*"
yfinance = "*"
matplotlib = "*"
phidata = "*"
openai = "*"
plotly = "*"
seaborn = "*"
numpy = "*"
uvicorn = "*"
fastapi = "*"

[requires]
python_version = "3.11"
