[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"          
yfinance = "*"           
matplotlib = "*"         
phidata = "*"               
openai = "*"
plotly = "*"

[requires]
python_version = "3.11"



